body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.login-container {
  display: flex;
  height: 100vh;
}

.left-side {
  flex: 1;
  background: linear-gradient(to right, #0061ff, #60efff);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-side h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.left-side p {
  margin-bottom: 20px;
}

.left-side button {
  background-color: white;
  color: #0061ff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.right-side {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.right-side h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.right-side p {
  margin-bottom: 20px;
}

.login-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-form button {
  background-color: #0061ff;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.login-form a {
  margin-top: 10px;
  color: #0061ff;
  text-align: center;
  text-decoration: none;
}
